<div class="container">
	<div class="row col-md-12" id="cariere-angajari">
		<div class="col-md-7 div-ang">
		<div class="col-ang">
		<img src="<%= asset_path('cariere-angajari.jpg') %>" class="img-ang" alt="cariere-angajari">
		<div class="content-angajari"><div><h2><b>ANGAJARI</b></h2>
      		<p>Suntem mereu in cautare de noi colegi care sa ne ajute in atingerea obiectivelor si in dezvoltarea noastra atat ca ECHIPA cat si COMPANIE.
      		<br><br>
			Aplica acum la una dintre pozitiile libere:</p></div>
        </div>
		</div>
		</div>
		<div class="col-md-5 car-angajari">
			<div class="row text-center">
				<div class="col-md-6 col-xs-6">
				<h4>INBOUND SALES</h4>
				</div>
				<div class="col-md-6 col-xs-6">
				<h4>CUSTOMER SUPPORT REPRESENTATIVE</h4>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-12 text-center">
				<button type="button" class="btn btn-default btn-inb">
						<a>APLICA</a>
				</button>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-6 col-xs-6">
				<h4>AGENT VANZARI</h4>
				</div>
				<div class="col-md-6 col-xs-6">
				<h4>CUSTOMER SUPPORT</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
				<button type="button" class="btn btn-default btn-ang">
						<a>UPLOADEAZA CV</a><div class="arrow-up"></div>
				</button>
				</div>
			</div>
		</div>
	</div>
</div>