<div class="container">
	<div class="row">
		<div class="col-md-6">
		<div class="content-internship">
			<h1>INTERNSHIPS</h1>
			<p>Suntem implicati in mod activ in procesul educational al studentilor din Romania, iar programul nostru de internship asigura in permanenta cate doua locuri doritorilor. <br>
			Data Processing Analyst (2 locuri)</p>
			<button type="button" class="btn btn-default">
										APLICA
			</button>
		</div>
		</div>
		<div class="col-md-6 center">
		<img src="<%= asset_path('cariere-internship.gif') %>" class="img-responsive" alt="cariere-internship">
		</div>
	</div>
</div>