<div class="container">
	<div class="row">

		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-8 contact-form">
				<div class="form-group">
					 
					<label for="exampleInputEmail1">
						Nume
					</label>
					<input type="text" class="form-control" id="exampleInputEmail1" />
				</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-8 contact-form">
				<div class="form-group">
					 
					<label for="exampleInputEmail1">
						Prenume
					</label>
					<input type="text" class="form-control" id="exampleInputEmail1" />
				</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-8 contact-form">
				<div class="form-group">
					 
					<label for="exampleInputEmail1">
						Companie
					</label>
					<input type="text" class="form-control" id="exampleInputEmail1" />
				</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-8 contact-form">
				<div class="form-group">
					 
					<label for="exampleInputEmail1">
						ROI/CUI
					</label>
					<input type="text" class="form-control" id="exampleInputEmail1" />
				</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-8 contact-form">
				<div class="form-group">
					 
					<label for="exampleInputEmail1">
						Persoana de contact
					</label>
					<input type="text" class="form-control" id="exampleInputEmail1" />
				</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-8 contact-form">
				<div class="form-group">
					 
					<label for="exampleInputEmail1">
						E-mail
					</label>
					<input type="text" class="form-control" id="exampleInputEmail1" />
				</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-8 contact-form">
				<div class="form-group">
					 
					<label for="exampleInputEmail1">
						Telefon
					</label>
					<input type="text" class="form-control" id="exampleInputEmail1" />
				</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-8 contact-form">
				<div class="form-group">
					 
					<label for="exampleInputEmail1">
						Departamente de interes
					</label>
					<input type="text" class="form-control" id="exampleInputEmail1" />
				</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<div class="form-group">
					 
					<label for="exampleInputEmail1">
						Alte comentarii
					</label>
					<input type="text" class="form-control contact-comment" id="exampleInputEmail1" />
				</div>
				</div>
			</div>
			<div class="row" id="btn-contact">
				<button type="button" class="btn btn-default btn-contact">
						TRIMITE
				</button>
			</div>	
		</div>

		<div class="col-md-4" id="content-contact">
			<div class="content-contact">
				<p><h1>REZERVARI FERIBOT</h1></p>
				<p>+40-769.026.009<br></p>                          <p>office@optimus-transport.ro<br></p>
				<p><h1>Wtransnet & Wconnecta:</h1></p>
				<p><b>Lucian Coman</b><br></p>                      <p>+40-755.017.888<br></p>                          <p>lcoman@wtransnet.com<br><br></p>
				<p><b>Alexandra Offenberg</b><br></p>   
				<p>+40-769.026.032<br></p>            
				<p>aoffenberg@wtransnet.com<br></p> 
				

			</div>
		</div>
	</div>
</div>