<div class="container-fluid">
<div class="row val-row">
<div class="col-md-8 right2 despre-valori">
  <h1>VALORILE NOASTRE SUNT:</h1>
	<div class="content-val">
		<div class="row">
		<div class="col-md-4 col-sm-4">
		<button type="button" class="btn btn-default btn-val">
				PROMPTITUDINE
		</button>
		</div>
		<div class="col-md-8 col-sm-8 content-val-p">
		<p>mereu ne-am axat pe un timp de raspuns fix pe care clientii nostri stiu ca se pot baza;</p>
		</div>
		</div>

		<div class="row">
		<div class="col-md-4 col-sm-4">
		<button type="button" class="btn btn-default btn-val">
				CALITATE
		</button>
		</div>
		<div class="col-md-8 col-sm-8 content-val-p">
		<p>punem accent pe imbunatatirea calitatii serviciilor oferite si pe feedback-ul primit din partea clientilor;</p>
		</div>
		</div>
		
		<div class="row">
		<div class="col-md-4 col-sm-4">
		<button type="button" class="btn btn-default btn-val">
				FLEXIBILITATE
		</button>
		</div>
		<div class="col-md-8 col-sm-8 content-val-p">
		<p>cunoastem programul incarcat al clentilor nostri de aceea echipa Optimus Transport le este mereu la un telefon distanta;</p>
		</div>
		</div>
		
		<div class="row">
		<div class="col-md-4 col-sm-4">
		<button type="button" class="btn btn-default btn-val">
				PROFESIONALISM
		</button>
		</div>
		<div class="col-md-8 col-sm-8 content-val-p">
		<p>de la preluarea comenzilor pana la oferirea de suport tehnic fiecare membru al echipei noastre are pregatirea necesara oferirii unui serviciu standardizat;</p>
		</div>
		</div>
		
		
		
	</div>
</div>

<div class="col-md-4 poza-val">

  <div class="item2 center"><img src="<%= asset_path('despre-valori.jpg') %>" class="despre-noi-valori" alt="despre-valori"></div>   

</div>

</div>

</div>
