<div class="container">
	<div class="row">
		<div class="col-md-6 center">
		<img src="<%= asset_path('despre-misiune.jpg') %>" class="img-responsive img-misiune" alt="despre-misiune">
	
		</div>
		<div class="col-md-6 center div-misiune">
			<div class="content-misiune">
			<h1>MISIUNEA NOASTRA</h1>
			<p>Este de a pune la dispozitia sectorului de transport un portofoliu de servicii de cea mai inalta calitate ce sa acopere atat  nevoile companiilor de transport cat si caselor de expeditii. 
			<br>
  			<br>
			In momentul de fata peste 70% din clientii care ajung sa utilizeze unul dintre serviciile puse la dispozitie de Optimus Transport provin din recomandari. Acest lucru este foarte important pentru noi si confirma aprecierea calitatii serviciilor oferite.</p>
			
		</div>
		</div>
	</div>
</div>