<div class="container">
<div class="row">

  <div class="col-sm-12 col-md-6 col-lg-6 col-lg-offset-0">

    <div class="thumbnail">
      <img src="<%= asset_path('otsolutions.jpg') %>" alt="otsolutions" class="img-responsive" >
       <h3>REZERVARI FERRY VIA</h3>
      <div class="caption">
       <img src="<%= asset_path('logo white/logo ot sol.gif') %>" class="img-responsive">
       <br>
        <p>Acoperind toata partea de Nord a Europei, va punem la dispozitie prin partenerului nostru, OT SOLUTIONS o varietate de rute ce fac legatura intre Europa continentala si Anglia, Irlanda, Danemarca, Suedia, Norvegia, Finlanda, Sicilia.</p>
        <button type="button" class="btn btn-default">AFLA MAI MULTE</button>
        <br>
      </div>
    </div>
    </div>


  <div class="col-sm-12 col-md-6 col-lg-6 col-lg-offset-0">

  <div class="thumbnail2">
	<h3>SERVICII DE BURSA TRANSPORT VIA</h3>
	<img src="<%= asset_path('logo white/logo wtransnet.gif') %>" class="logow img-responsive" alt="wtransnet-logo"><br>
      <img src="<%= asset_path('wtransnet.jpg') %>" class="img-responsive wtransnetpic" alt="wtransnetpic">
      <div class="caption">    
        <p>Vrei sa lucrezi cu Companii verificate cu nivel de solvabilitate ridicat sau cu Companii de Transport calificate?
		Vrei sa ai posibilitatea sa iti garantezi incasarea facturilor? 
		Vrei sa iti dezvolti afacerea intr-un mediu sigur alaturi de o bursa careia ii pasa de tine? 
		Daca raspunsurile au fost DA, Wtransnet poate fi solutia.</p>
        <button type="button" class="btn btn-default">AFLA MAI MULTE</button>
        <br>
        <p>despre Bursa lider pe partea Sudica si Vestica a Europei si SINGURA din Europa cu un Serviciu de Garantie a Platii. </p>
      </div>
    </div>
  </div>
</div>
</div>