<div class="container wabic">
<div class="row wabi-row">
<div class="col-md-4 wabi">
  
  <div class="caption">
        <img src="<%= asset_path('logo white/logo wabi.gif') %>" class="logo" alt="wabi-logo"><p><br>Un website este ca o carte de vizita. 
        Prezenta online a unei companii este foarte importanta pentru dezvoltarea parteneriatelor si sporirea increderii in serviciile oferite.<br><br>

        Echipa noastra va pune la dispozitie servicii de dezvoltare site-uri web si crearea de platforme menite sa va ajute in gestionarea business-ului dumneavoastra.</p></div>

</div>

<div class="col-md-8 wabi-pic">

  <img src="<%= asset_path('wabi.jpg') %>" class="wa-bi" alt="wa-bi">

</div>

</div>

</div>