<div class="container">
	<div class="row" id="descriere">
		<div class="col-md-8" id="color">
		<p><b>Optimus Transport</b> este partenerul ideal in promovarea serviciilor dumneavoastra pe teritoriul Romaniei, avand o baza de date de peste 10000 de companii din domeniul transporturilor.
		<br><br>
		Experienta dobandita de-alungul anilor din interactiunea cu firme din acest domeniu ne-a facut sa identificam nevoile acestor companii si ne motiveaza constant sa gasim cele mai bune servicii pe care am putea sa le punem la dispozitie. Companiile care recunosc numele si brand-ul Optimus Transport il asociaza cu calitate in detrimentul cantitatii. 
		<br><br>
		Atentia la detalii, orientarea catre client si flexibilitatea noastra sunt criterii de baza ce ne permit sa oferim servicii de promovare personalizata in functie de segmentul targetat al pietei.
		<br><br>	
		Ne implicam doar in proiecte in care credem si nu promovam niciodata clientilor nostri servicii pe care noi insasine nu le-am folosi/incerca/utiliza.
		<br><br>
		Suntem deschis spre noi parteneriate si asteptam oricand propunerile dumneavoastra. Pentru discutii detaliate referitoare la proiecte viitoare va rugam sa luati legatura cu administratorul companiei OPTIMUS TRANSPORT, <b>Eduard Ularu</b>, la numarul de telefon <b>+40-751.145.509.</b></p>
		</div>
		<div class="col-md-4" id="pic-logistic">
		<img src="<%= asset_path('poza-parteneri.jpg') %>" class="poza1-parteneri" alt="parteneri-optimus-transport">
		</div>
	</div>
</div>