<div class="container wabi-serv">
<div id="wabi-servicii">
<div class="content"><img src="<%= asset_path('logo white/logo-wabi.gif') %>" alt="wabi-logo" class="img-responsive" ><br>
<p>WA-BI va pune la dispozitie servicii de dezvoltare WEB, optimizare SEO, securizarea bazelor de date, mentenanta si dezvoltare aplicatii.
Va oferim consultanta si ne asiguram ca veti obtine cea mai buna solutie pentru produsele si serviciile pe care compania dumneavoastra doreste a le promova. </p></div></div></div>