<div class="container">
<div id="wconnecta-servicii"><!-- <img src="<%= asset_path('wconnecta-servicii.jpg') %>" alt="wconnecta-logo" class="img-responsive" > -->
<div class="content"><img src="<%= asset_path('logo white/logo w connecta.gif') %>" alt="wconnecta-logo" class="img-responsive" ><br>
<p>Ce este Wconnecta?<br>
Wconnecta este un proiect proeminent, care dupa 7 editii, a devenit un eveniment cu un impact puternic in randul companiilor din domeniul transporturilor la nivel European. Scopul acestuia este acela de a ajuta companiile din acest sector sa gaseasca parteneri de incredere si noi oportunitati de afaceri.<br> 
Este o oportunitate ca aceste companii sa se cunoasca si sa intemeieze potentiale colaborari cu ceilalti participanti. Succesul Wconnecta consta in volumul foarte mare de contacte pe care un participant le poate dobandi intr-o singura zi, munca ce ar dura luni de zile pentru un departament de vanzari.</p></div></div>
<div class="wconnecta-prezentare">
<div class="container">
	<div class="row">
		<div class="col-md-7 col-sm-12"><iframe width="650" height="425" src="<%= "https://www.youtube.com/embed/TaytXCNUTkY" %>"></iframe>
		</div>
		<div class="col-md-5 col-sm-12 prez-wc">
		<p>In 2016, Wconnecta a atras peste 1000 de participanti de la peste 500 de companii, din 23 de tari diferite, cu 32% mai mult ca editia anterioara acesteia. Vezi prezentarea video aici.<br>
		<br>	
		Anul acesta va fi organizata cea de-a 8-a editie a acestui eveniment si va avea loc in Germania. <br>
		<br>	
		Afla mai multe Wconnecta, editiile anterioare, companiile care au participant la acest eveniment si in ce consta mai exact pe <a href="www.wconnecta.com">www.wconnecta.com</a> </p>
		</div>
	</div>
</div>
</div>