<h2 id="page_title">Buna ziua!</h2>
<div class="skinny_wrapper wrapper_padding"> 
<h1> Multimim pentru mesajul trimis </h1>
<p>In cel mai scurt timp veti fi contactat din partea echipei Optimus Transport.</p>
</div>